<div class='container border-radius'>
  <div class='title text-center'>
    <h1>So You want to host a location for future events?</h1>
    <p>No problem! Fill out the form below to let others know more about your location.</p>
  </div>
</div>
<div class="container form">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for @listing do |f| %>
        <%= f.input :title, placeholder: 'Golf Club'%>
        <%= f.input :category, collection: ['Restaurant', 'Golf', 'Castle', 'Hotel', 'Bar/Club', 'Terrasse', 'Mansion', 'Apartment', 'Villa', 'Penthouse' ,'Other' ] %>
        <%= f.input :price, label: 'Price/day', placeholder: '1500$' %>
        <%= f.input :address, placeholder: '555 Park Ave, QC H4B 3B3' %>
        <%= f.input :city, placeholder: 'Montreal' %>
        <%= f.input :capacity, placeholder: '20+'%>
        <%= f.input :description, as: :text, placeholder: 'Nice location to host corporate events..' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
