<div class="show-page-container">
    <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%), url('<%= @listing.url %>')">
      <h1 class="my-3"><%= @listing.title %></h1>
      <%= link_to new_listing_booking_path(@listing) do %>
      <div class="btn"> Book this place </div>
      <% end %>
      <div class="information">
        <i class="fas fa-angle-double-right"></i>
        <%= @listing.category %>
        <i class="fas fa-user-friends"></i>
        <%= @listing.capacity %>
      </div>
    </div>
</div>
<div class="description">
  <h2>Description:</h2>
  <p><%= @listing.description %></p>
</div>
<div>
  <p> <%= link_to "Edit", edit_listing_path %> <%= link_to "Delete",listing_path(@listing), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></p>
</div>
