<div class='text-center'>
  <h1>Create a New booking for: <%= @listing.title %></h1>
  <h2>Tell us about your event</h2>
</div>
<div class="container">
  <div class="form row justify-content-center">

    <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :start_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true, input_html: { min: Date.today.to_s, value: Date.today.to_s } %>
    <%= f.input :end_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true, input_html: { min: Date.today.to_s, value: Date.today.to_s } %>
    <%= f.input :description, as: :text %>
    <%= f.input :attendance %>
    <%= f.hidden_field :listing_id, value: @listing.id %>
    <%#= f.hidden_field :user_id, value: @listing.user_id %>
    <%= f.hidden_field :state, value: "Pending" %>
    <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>




